body{
    background-color:azure;
}
.footerclass{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(105, 255, 115);
    
}
.headerclass{
    background-color: rgb(255, 172, 90);
}